<!DOCTYPE html>
<html lang="en">

<head>
  <title>Project Birdnest</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/style.css" rel="stylesheet">
  <script src="/pilots.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io();

    fetchNaughtyPilots()
    fetchClosestDistanceToNest()
    socket.on("refresh", () => {
      fetchNaughtyPilots()
      fetchClosestDistanceToNest()
    })
  </script>
</head>

<body>
  <h1>Developer Trainee, summer 2023</h1>
  <h2>Project Birdnest</h2>
  <hr>
  <div id="closest">
  </div>
  <h3>List of pilots who recently violated the NDZ perimeter</h3>
  <div id="pilots">
  </div>
</body>

</html>
