<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/style.css" rel="stylesheet">
  <script src="/pilots.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io();

    fetchNaughtyPilots()
    socket.on("refresh", () => {
      fetchNaughtyPilots()
    })
  </script>
</head>

<body>
  <h1>Welcome to drone traker</h1>
  <div id="pilots">
  </div>
</body>

</html>
